---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";
//export const base = import.meta.env.BASE_URL;
export const base = "";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-bgDark2">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`${base}/favicon.svg`} />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Dark themed website template built on AstroJS, designed for fictional startup"
    />
    <title>{title}</title>
  </head>
  <body class="bg-bgDark2">
    <main aria-label="Main content">
      <slot />
    </main>
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth !important;
      }
    </style>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('emailForm');
        if (form) {
          form.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            // Get form values
            const name = document.querySelector('input[name="name"]').value;
            const comment = document.querySelector('input[name="comment"]').value;
            const email = document.querySelector('input[name="mail"]').value;

            // Validate email input (basic check)
            if (!email || !email.includes('@')) {
              alert('Please enter a valid email address.');
              return;
            }

            // Construct the email parameters
            const subject = encodeURIComponent('Contact Form Submission');
            const body = encodeURIComponent(`Name: ${name}\nComment: ${comment}\nEmail: ${email}`);

            // Construct the mailto link
            const mailtoLink = `mailto:${email}?subject=${subject}&body=${body}`;

            // Open the default email client
            window.location.href = mailtoLink;
          });
        } else {
          console.error('Form with id "emailForm" not found.');
        }
      });
    </script>


  </body>
</html>
